
<app-nav></app-nav>

<!-- <mat-grid-list cols="20" rowHeight="10%" >
    <mat-grid-tile class="sidebar-tile" [colspan]="3" [rowspan]="10" >
        <div class="container">       
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="nav-tile" [colspan]="17" [rowspan]="1" >
        <div class="container">
            <app-nav></app-nav>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="separador" [colspan]="1" [rowspan]="9" >
    </mat-grid-tile>
    <mat-grid-tile class="content" [colspan]="15" [rowspan]="9" >
        <div class="container">
            <router-outlet ></router-outlet>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="separador" [colspan]="1" [rowspan]="9" >
    </mat-grid-tile>
</mat-grid-list> -->