
<div class="container">
    <form class="example-form">
     <h2>Perfil</h2>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Direccion</mat-label>
            <textarea matInput placeholder="Ex. calle uno"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Direccion 2</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo postal</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
        <button mat-raised-button >Enviar</button>
      </form>
    </div>