
<div class="container">
    <form class="example-form" #form="ngForm" (ngSubmit)="saveChanges()">
     <h2>Perfil</h2>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput required ngModel name="name" #name="ngModel">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido </mat-label>
            <input matInput required ngModel name="lastname" #name="ngModel">
          </mat-form-field></td>
        </tr></table>
        <button mat-raised-button type="submit">Enviar</button>
      </form>
    </div>