<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [class.menu-close]="!isExpanded"
      [class.menu-open]="isExpanded">

    <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-list-item [routerLinkActive]="['is-active']" routerLink="/dashboard/demandas">      
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Demandas</h4>
                <mat-expansion-panel>a</mat-expansion-panel>      
              </mat-list-item>
            </mat-expansion-panel-header>
          <mat-list-item>  a</mat-list-item>
      </mat-expansion-panel>
      </mat-accordion>
        <mat-list-item routerLink="/dashboard/casos">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Casos</h4>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/informes">
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Informes</h4>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/ayuda">
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Ayuda</h4>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-mini-fab  (click)="drawer.toggle();"color="warn" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>      <span>lawyer-app</span>
    </mat-toolbar>
    <!-- Add Content Here -->
            
     <router-outlet ></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
