.sidenav-container {
  height: 100%;
  color: aliceblue;
  font-size: large;


}

::ng-deep.mat-toolbar {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  height: 100px;

}

::ng-deep .mat-drawer-inner-container {

  background: linear-gradient(0deg, #581313 0, #a12a2a 100%);

}

::ng-deep .mat-drawer-inner-container .mat-list-item-content {

  background-color: transparent;
  color: aliceblue;


}

.mat-toolbar {
  background: rgb(68, 22, 16);
  margin: 0;
  background: linear-gradient(0deg, #581313 0, #a12a2a 100%);
  color: rgb(247, 247, 247);
  height: auto;

}

.mat-expansion-panel-header.mat-expanded {
  height: 64px;
  height: 100%;

}

.sidenav .example-card {
  width: 200px;
  height: 100px;
  background-color: #581313;
  color: aliceblue;
  margin-top: -8px;

}

.sidenav .mat-toolbar {
  background: inherit;


}

::ng-deep.mat-expansion-panel-body {
  background: rgb(133, 93, 45);

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 90px;
  height: 90px;
  margin: 0;
  margin-left: -10px;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
}


/*GRID*/
.header {
  grid-area: header;

}

.left {
  grid-area: left;
  background-color: #D9C0A3;
}

.main {
  grid-area: main;
  background-color: transparent;
}



.right {
  grid-area: right;
  background-color: #D9C0A3;
}

.footer {
  grid-area: footer;


}

.grid-container {
  display: grid;
  grid-template-areas:
    'left main main main main main main right'
    'left main main main main main main right'
    'left main main main main main main right'
    'left main main main main main main right'
    'left main main main main main main right'
    'footer footer footer footer footer footer footer footer';

  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
}

.grid-container>div {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.788);
}

/* Profile card */
mat-card-title {
  margin-top: 10px;

}