.sidenav-container {
  height: 100%;
  color: aliceblue;
  font-size: large;

}

::ng-deep.mat-toolbar{
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
height: 100px;
}
::ng-deep .mat-drawer-inner-container{
  background: rgb(196, 152, 100);
}
::ng-deep .mat-list-item-content{
  background: rgb(196, 152, 100);

}
.mat-toolbar{
  background: rgb(196, 152, 100);
  margin: 0;

}
.mat-expansion-panel-header.mat-expanded {
  height: 64px;
  height: 100%;
}
.sidenav .example-card{
  width: 200px;
  background: rgb(196, 152, 100);
}

.sidenav .mat-toolbar {
  background: inherit;
  background: rgb(196, 152, 100);
}
::ng-deep.mat-expansion-panel-body{
  background: rgb(196, 152, 100);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
}


  /*GRID*/
  .header { 
    grid-area: header; 
    background-color: rgba(0, 0, 0, 0.753);}
  .left { 
    grid-area: left; 
    background-color: rgba(0, 0, 0, 0.753);}
  .main { 
    grid-area: main;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px; 
   }
  .right { 
    grid-area: right;
    background-color: rgba(0, 0, 0, 0.753);}
  .footer { 
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.753);}
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'left main main main main right'
      'left main main main main right'
      'footer footer footer footer footer footer';

    height: 100vh;    
  }
  .grid-container > div {
    padding: 20px 0;

  }
  