<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [class.menu-close]="!isExpanded"
      [class.menu-open]="isExpanded">

      <mat-nav-list (mouseout)="changeText=false">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Francis Gonzalez</mat-card-title>
          <mat-card-subtitle> <button class="profilebtn" routerLink="/dashboard/profile" mat-button>Perfil</button> </mat-card-subtitle>
        </mat-card-header> 
      </mat-card>
    
        <mat-list-item  routerLink="/dashboard/demanda">      
          <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Demandas</h4>
          <mat-expansion-panel>a</mat-expansion-panel>      
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/caso">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Casos</h4>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/informes">
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Informes</h4>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/ayuda">
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Ayuda</h4>
        </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-mini-fab class="menubtn" (click)="drawer.toggle();"color="warn">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>      
      <span>lawyer-app</span>
      <span class="fill-space"></span>
      <button (click)="authService.logOut()" mat-mini-fab class="logoutbtn">
      <mat-icon >exit_to_app</mat-icon>
    </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="grid-container">

      <div class="left"></div>
      <div class="main">
        <router-outlet ></router-outlet>
      </div>
      <div class="right"></div>
      <div class="footer"></div>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>
