.sidenav-container {
  
  height: 100%;
  color: aliceblue;
  font-size: large;

}


::ng-deep .mat-drawer-inner-container{
  background: rgb(196, 152, 100);
}
::ng-deep .mat-list-item-content{
  background: rgb(196, 152, 100);

}
.mat-toolbar{
  background: rgb(196, 152, 100);
  margin: 0;

}
.mat-expansion-panel-header.mat-expanded {
  height: 64px;
  height: 100%;
}
.sidenav .example-card{
  width: 200px;
  background: rgb(196, 152, 100);
}

.sidenav .mat-toolbar {
  background: inherit;
  background: rgb(196, 152, 100);
}
::ng-deep.mat-expansion-panel-body{
  background: rgb(196, 152, 100);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
}

