/* Structure */
.example-container {
  position: relative;
  height: 100%;

}

.example-table-container {
  position: relative;
  min-height: 100%;
  max-height: 300px;
  overflow: auto;
  color: antiquewhite;
}

table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.349);


}

h2 {
  text-align: center;
  font-size: x-large;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.filtro {
  background-color: rgb(168, 149, 125);
  color: aliceblue;
}

::ng-deep .mat-paginator-container {
  background-color: rgb(168, 149, 125);
  color: aliceblue;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/*EXPANDABLE TABLE*/
th {
  background-color: rgb(168, 149, 125);
  color: aliceblue;
}

tr.example-detail-row {
  height: 0;

}

tr.example-element-row:not(.example-expanded-row):hover {
  background: aliceblue;

}

tr.example-element-row:not(.example-expanded-row):active {
  background: aliceblue;
}

.example-element-row td {
  border-bottom-width: 0;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.267);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.349);
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  color: aliceblue;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}