

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="seguimiento">
    <th mat-header-cell *matHeaderCellDef>Seguimiento</th>
    <td mat-cell *matCellDef="let element">{{element.seguimiento}}
  
</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Abogado_Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tipo_demanda_id">
    <th mat-header-cell *matHeaderCellDef>Tipo Demanda</th>
    <td mat-cell *matCellDef="let element">{{element.tipo_demanda_id}}</td>
  </ng-container>
  <ng-container matColumnDef="Editar" >
    <th mat-header-cell *matHeaderCellDef>edit</th>
    <td mat-cell *matCellDef="let element">
      <button class="editbtn" mat-mini-fab (click)="edit()" style="margin: 10px; background-color: #731717;">
        <mat-icon >edit</mat-icon>       
         </button>  
    </td>
  </ng-container>
  <ng-container  matColumnDef="Eliminar" >

    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td  mat-cell *matCellDef="let element; index as i">
      <button class="erasebtn" mat-mini-fab  (click)="delete(i)" >
        <mat-icon style=" color: aliceblue;">delete_foreve</mat-icon>
      </button>  
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
