<div class="container">
<form class="example-form" [formGroup]="contacto" >
 <h2>Contacto</h2>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field required class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input required formControlName="fname" required matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input required formControlName="lname" required matInput>
  
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Direcccion</mat-label>
        <textarea formControlName="a" required matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Direccion 2</mat-label>
        <textarea formControlName="a2" required matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ciudad</mat-label>
        <input formControlName="city" matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estado</mat-label>
        <input formControlName="state" matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input formControlName="p" matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <button mat-raised-button (click)="enviar()" >Enviar</button>
  </form>
</div>